:root {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
}

.root-layout {
	min-height: 100vh;
}

.MuiToolbar-root {
	padding: 0px !important;
}
